@{
    ViewData["Title"] = "Access Denied";
}

<div class="d-flex justify-content-center align-items-center" style="height:80vh;">
    <div class="text-center">

        <h1 class="text-danger display-4"> Access Denied</h1>

        <p class="lead mt-3">
            You don’t have permission to access this page.
        </p>

        <a asp-action="Index" asp-controller="Home" asp-area="Customer" class="btn btn-primary mt-3">
            Go Home
        </a>

    </div>
</div>

